:root {
    --color1: #333333;
    --color2: #ffffff;
    --color3: #e1f4f3;
    --color4: #706c61;
    --color5: lightgray;
    --color6: cornflowerblue;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color1);
    color: var(--color2);
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    top: 0;
    z-index: 10;
}

header h1 {
    margin-left: 50px;
}

header a {
    text-decoration: none;
    color: var(--color2);
}

nav ul {
    list-style-type: none;
    margin-right: 50px;
}

nav ul li {
    display: inline-flex;
    margin: 0 15px;
    :hover {
        color: var(--color3);
    }
}

nav ul li a {
    text-decoration: none;
    color: var(--color2);
    font-weight: bold;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 17.3vw;

    h1, h2, h3 {
        width: 100%;
        text-align: left;
    }
}

.section1 {
    display: grid;
    grid-auto-flow: column;
    column-gap: 30px;
}

.caja_gafas {
    justify-content: center;
}

.img_gafas {
    width: 32vw;
    height: 21vw;
}

#barra1 {
    border: 1px solid var(--color5);
    width: 85%;
}

.caja_1section2 div img {
    border-radius: 1%;
}

.caja_gafasAntiguas {
    display: flex;
    justify-content: center;
    position: relative;
}

.img2 {
    height: 80%;
    width: 80%;
    border-radius: 1%;
}

.caja_1section2 {
    display: grid;
    grid-auto-flow: column;
    column-gap: 30px;
}

.google_glasses {
    margin-left: 15px;
    height: 280px;
    width: 450px;
    border-radius: 1%;
}

#cajaGafaSection2 {
    height: 268px;
    width: 473px;
    border-radius: 1%;
}

.contenedor_principal {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 0.4vw;
    padding-right: 0.4vw;
}

.contenedor {
    width: 45%;
    height: fit-content;
    border: 1px solid var(--color1);
    margin-bottom: 10px;
    border-radius: 15px;
    display: inline-block;
    position: relative;
    transition: transform 0.5s ease;
    overflow: hidden;
}

.contenido_principal {
    display: flex;
    justify-content: center;
}

.contenido-adicional {
    display: none;
}

.contenedor:hover .contenido_principal {
    display: none;
}

.contenedor:hover .contenido-adicional {
    display: block;
}

.contenedor:hover {
    transform: scale(1.025);
}

#bateria-funda {
    padding-top: 5px;
    margin: auto;
    display: block;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.contenido-adicional img {
    width: 100%;
    object-fit: cover;
    margin: auto;
    display: block;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.video1 {
    width: 100%;
    height: 230px;
    object-fit: cover;
    margin: auto;
    display: block;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.contenido-adicional p {
    padding-left: 25px;
    padding-right: 25px;
}

.section4 a {
    color: var(--color6);
    text-decoration: none;
}

.section4 li {
    list-style: circle;

}

footer {
    font-size: 15px;
    background-color: var(--color4);
    color: var(--color2);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 12vw;
}