:root {
    --color1: #333333;
    --color2: #ffffff;
    --color3: #e1f4f3;
    --color4: #706c61;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color1);
    color: var(--color2);
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    margin-left: 50px;
}

nav ul {
    list-style-type: none;
    margin-right: 50px;
}

nav ul li {
    display: inline-flex;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--color2);
    font-weight: bold;
}

main {
    padding-top: 10px;
    padding-left: 250px;
    padding-right: 250px;
}

.section1{
    display: flex;
}

.caja_gafas{
    justify-content: center;
}

.img_gafas {
    height: 320px;
    width: 450px;
}

.content1 {
    margin-left: 50px;
}

.section2 {

}

#barra1 {
    border: 1px solid lightgray;
    width: 85%;
}

.caja_gafasAntiguas {
    display: flex;
    justify-content: center;
    position: relative;
}

.img2 {
    height: 80%;
    width: 80%;
}

.caja_1section2{
    display: flex;
}

.content2{
    margin-left: 20px;
}

#content3{
    width: 50%;
}

.google_glasses{
    margin-left: 15px;
    height: 280px;
    width: 450px;
}

#cajaGafaSection2{
    height: 268px;
    width: 473px;
}


footer {
    font-size: 15px;
    background-color: var(--color4);
    color: var(--color2);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
}